@section Breadcrumbs {
    <div class="flex-left breadcrumb">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Головна</a>
        <span>></span>
        <a class="nav-link" asp-area="" asp-controller="Patient" asp-action="Index">Пацієнт</a>
    </div>
}
    
<div>
    <div>
        <a class="nav-link text-dark" asp-area="" asp-controller="Patient" asp-action="Info">Особиста інформація</a>
    </div>
    <div>
        <a class="nav-link text-dark" asp-area="" asp-controller="Patient" asp-action="Doctors">Лікарі</a>
    </div>
    <div>
        <a class="nav-link text-dark" asp-area="" asp-controller="Patient" asp-action="Parameters">Параметри</a>
    </div>
    <div>
        <a class="nav-link text-dark" asp-area="" asp-controller="Patient" asp-action="Medications">Ліки</a>
    </div>
    <div>
        <a class="nav-link text-dark" asp-area="" asp-controller="Patient" asp-action="MedicalConditions">Медичні показання</a>
    </div>
    <div>
        <a class="nav-link text-dark" asp-area="" asp-controller="Patient" asp-action="Appointments">Призначення</a>
    </div>
</div>